<h3>Your order from pragmatic store is delivered</h3>
<p>
  This massage is notice you that your order is delivered:
</p>

<table>
  <tr><th colspan="3">Quantity</th><th>Description</th></tr>
  <%= render @order.line_items %>
</table>